body {
    background: rgb(160, 144, 109);
    color: rgb(247, 245, 241);
    font-family: "Courier New";
}

.main-container {
    display:flex;
    margin: 50px 80px;
    padding: 10px 40px;
    border: 4px solid rgb(247, 245, 241);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 0 1 0;
}

.title {
    text-align: center;
    font-size: 50px;
}

.description-container {
    display:flex;
    flex-direction: column;
}

.desc {
    text-align: justify;
}

.pic {
    border: 5px solid rgb(247, 245, 241);
    margin:10px;
    align-self: center;
    flex: auto;
}

.ingredients-container {
    display:flex;
    flex-direction: column;
}

.ingredients {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.steps-container {
    display:flex;
    flex-direction: column;
}

.steps {
   text-align: justify
}

.sub-title {
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
}

/* 
> Use display: flex; to create a flex container.
> Use justify-content to define the horizontal alignment of items.
> Use align-items to define the vertical alignment of items.
> Use flex-direction if you need columns instead of rows.
> Use the row-reverse or column-reverse values to flip item order.
> Use order to customize the order of individual elements.
> Use align-self to vertically align individual items.
> Use flex to create flexible boxes that can stretch and shrink.
 */